:root {
    --primary: #007bff; /* Bleu principal */
    --secondary: #0056b3; /* Bleu foncé */
    --light: #f8f9fa; /* Fond clair */
    --gradient: linear-gradient(135deg, rgba(14, 86, 168, 0.1), rgba(33, 203, 250, 0.541));
  }
  
  /* Style global */

  
  /* Conteneur de la page avec image en fond */


  .home-container {
    background: var(--gradient), url("../assets/xl.jpeg") no-repeat center center !important;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding-top: 0px;
    width: 100%;
  }
  
